// Core variables and mixins
@import "/_assets/bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "/_assets/bootstrap/less/mixins.less";

// Reset
@import "/_assets/bootstrap/less/normalize.less";
@import "/_assets/bootstrap/less/print.less";

// Core CSS
@import "/_assets/bootstrap/less/scaffolding.less";
@import "/_assets/bootstrap/less/type.less";
@import "/_assets/bootstrap/less/code.less";
@import "/_assets/bootstrap/less/grid.less";

@import "/_assets/bootstrap/less/tables.less";
@import "/_assets/bootstrap/less/forms.less";
@import "/_assets/bootstrap/less/buttons.less";

// Components: common
@import "/_assets/bootstrap/less/component-animations.less";
// @import "/_assets/bootstrap/less/glyphicons.less";
// @import "/_assets/bootstrap/less/dropdowns.less";
@import "/_assets/bootstrap/less/list-group.less";
@import "/_assets/bootstrap/less/panels.less";
@import "/_assets/bootstrap/less/wells.less";
// @import "/_assets/bootstrap/less/close.less";

// Components: Nav
@import "/_assets/bootstrap/less/navs.less";
@import "/_assets/bootstrap/less/navbar.less";
// @import "/_assets/bootstrap/less/button-groups.less";
// @import "/_assets/bootstrap/less/breadcrumbs.less";
// @import "/_assets/bootstrap/less/pagination.less";
// @import "/_assets/bootstrap/less/pager.less";

// Components: Popovers
// @import "/_assets/bootstrap/less/modals.less";
// @import "/_assets/bootstrap/less/tooltip.less";
// @import "/_assets/bootstrap/less/popovers.less";

// Components: Misc
// @import "/_assets/bootstrap/less/alerts.less";
@import "/_assets/bootstrap/less/thumbnails.less";
// @import "/_assets/bootstrap/less/media.less";
// @import "/_assets/bootstrap/less/labels.less";
// @import "/_assets/bootstrap/less/badges.less";
// @import "/_assets/bootstrap/less/progress-bars.less";
// @import "/_assets/bootstrap/less/accordion.less";
// @import "/_assets/bootstrap/less/carousel.less";
// @import "/_assets/bootstrap/less/jumbotron.less";

// Utility classes
@import "/_assets/bootstrap/less/utilities.less"; // Has to be last to override when necessary
@import "/_assets/bootstrap/less/responsive-utilities.less";

// font-awesome
@import "/_assets/fontawesome/font-awesome.less";

// pygments
@import "/_assets/pygments.less";

@font-family-sans-serif: "Noto Sans S Chinese", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
@font-size-base: 15px;
@headings-font-weight: 100;
@navbar-bg: rgba(255, 255, 255, 0.900);

body {
  padding-top: @navbar-height + 10px;
  font-size: 18px;
  line-height: 160%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 20px;
}
h2,h3,h4,h5,h6 {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
}
.noborder {
  border: none;
}
.lowercase {
  text-transform: lowercase;
}
.cover {
  background: #333 no-repeat center center;
  height: 200px;
  width: 100%;
  margin-top: -8px;
  .box-shadow(inset 3px 3px 20px rgba(0,0,0,.5));
  margin-bottom: 20px;
}
section.content {
  height: 100%;
  min-height: 100%;
  padding: 10px;
  .video,
  img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    max-width: 70%;
    max-height: 70%;
    &.noclip {
      clear: both;
      display: inline-block;
    }
  }

  h1:first-child {
    margin-top: 20px;
  }
  h1 a {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 100;
  }
  h1.thin {
    font-size: 2em;
    margin-top: 0;
  }
  h1.big.thin {
    font-size: 3em;
  }
  section.byline {
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #999;
  }
  p {
    color: #555;
  }
  &.about p,
  &.error {
    text-align: center;
    font-size: 1.3em;
    font-weight: 100;
  }
  &.error h1 {
    color: #f5f5f5;
    font-size: 10em;
    font-weight: bold;
    padding: .5em;
    text-shadow: 0px 1px 5px #aaa;
  }
  div.pull {
    padding-top: 20px;
  }
}


ul.listing {
  margin: 0 0 25px 0;
  padding: 0;
  li {
    list-style-type: none;
    padding: 7px 5px;
    border-bottom: 1px solid #EEE;
    span {
      padding-top: 3px;
      float: right;
      text-transform: uppercase;
      font-size: 12px;
      color: #999;
    }
  }
}

div.navbar,
div.navbar a.brand {
  font-weight: 100;
  text-transform: uppercase;
}

#navbar.navbar {
  .box-shadow(0 0 1px #ccc);
}

#footer,
#navbar.navbar {
  a {
    color: #555;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
    &:hover {
      color: #307EA9;
    }
  }
}

#footer {
  margin-top: 50px;
  border-top: 1px solid #f5f5f5;
  section.meta {
    padding: 30px;
    color: #EEE;
    text-align: center;
    a {
      font-size: 0.8em;
    }
  }
  i.icon {
    display: block;
    margin: auto;
  }
}

@media (max-width: 767px) {
  #footer .col-span-2.next {
    margin-top: 30px;
  }
}

//
// Tables
// --------------------------------------------------


table {
  background-color: @table-bg;
}
caption {
  padding-top: @table-cell-padding;
  padding-bottom: @table-cell-padding;
  color: @text-muted;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-top: 1px solid @table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  // Nesting
  .table {
    background-color: @body-bg;
  }
}


// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid @table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-child(odd) {
    background-color: @table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: @table-bg-hover;
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
.table-row-variant(active; @table-bg-active);
.table-row-variant(success; @state-success-bg);
.table-row-variant(info; @state-info-bg);
.table-row-variant(warning; @state-warning-bg);
.table-row-variant(danger; @state-danger-bg);


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  @media screen and (max-width: @screen-xs-max) {
    width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
